#root {
  font-family: Verdana;
}
p {
  color: grey;
}

#heading {
  text-transform: uppercase;
  color: #004976;
  font-weight: normal;
}

#tab-billing , #tab-shipping{
  text-align: center;
  position: relative;
}
#tab-shipping  input,
#tab-shipping textarea {
  padding: 5px 12px 2px 18px;
  border: none;
  border-bottom: 1px solid #eceaea;
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
}

#tab-shipping input:focus,
#tab-shipping textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  outline-width: 0;
}


.form-card {
  text-align: left;
}

#tab-billing  input,
#tab-billing textarea {
  padding: 5px 12px 2px 18px;
  border: none;
  border-bottom: 1px solid #eceaea;
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: black;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
}

#tab-billing input:focus,
#tab-billing textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  outline-width: 0;
}


.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #004976;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.steps {
  font-size: 18px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #004976;
}

#progressbar li {
  list-style-type: none;
  font-size: 1.5rem;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f48b";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f23d";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #004976;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #004976;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}
strong {
  font-weight: bolder;
  margin-top: 15px;
}
.header-icon2 {
  margin-right: 5px;
}
