#grid {
  height: 95vh;
}

#left {
  background-color: #12192c;
}

#right {
  padding: 1rem;
  background-color: #f9fdff;
}
.cardR {
  border-radius: 30px;
  border: 1px solid #fdfdfd;
  border-left: 4px solid #405180;
  border-right: 4px solid #405180;
  /* box-shadow: inset 0px 0px 10px 10px #ffffff; */
}

#grid {
  transition: 300ms;
  display: grid;
  grid-template-columns: 48px auto;
}

#grid:has(#left:hover) {
  grid-template-columns: 13% auto;
}

#grid {
  transition: 300ms;
  display: grid;
  grid-template-columns: var(--left, 48px) auto;
}

#grid:has(#left:hover) {
  --left: 30%;
}

.fa-2x {
  font-size: 1.8em;
}
.fa-2x {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.fa-x {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 20px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  font-size: 20px;
}
.file {
  height: 18px;
}
.main-menu:hover,
nav.main-menu.expanded {
  width: 100%;
  overflow: visible;
}

.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: -6px;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 5px 0;
  padding-top: 3.5rem;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.main-menu > ul.logout {
  position: absolute;
  left: 13px;
  bottom: 0;
}
.bottom_img {
  border-radius: 50%;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #004976;
  border-radius: 20px;
}

.overview_top {
  padding: 2.6rem;
}

.overview_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.overview_top div {
  display: flex;
  align-items: center;
  gap: 3px;
}

.overview_top img {
  height: 90px;
  margin: auto;
}

.overview_top p {
  font-weight: 520;
  text-transform: uppercase;
}

.orange {
  height: 5rem;
  width: 5rem;
}
.widget-content0 {
  transition: transform 0.3s ease;
  background-color: rgb(255, 255, 255);
  border: 1px solid #004976;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05);
  padding: 0 !important;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  /* border-radius: 60px 5px 60px 5px; */
}

.widget-content0:hover {
  cursor: pointer;
  transform: scale(1.02);
}
Link,
a {
  text-decoration: none;
}
.header-icon {
  margin-right: 12px;
}
.card-header {
  background-color: #12192c;
  color: #fff;
  /* margin: auto; */
}
.card-header2 {
  margin-top: -20px !important;
  border-radius: 60px 5px 60px 5px !important;
  margin: auto;
  box-shadow: inset 0px 0px 10px 10px #405180;
}
.btn2 {
  border-radius: 60px 5px 60px 5px !important;
  margin: auto;
  height: 45px;
  box-shadow: inset 0px 0px 10px 10px #405180;
}
.btn2:hover {
  /* box-shadow: inset 0px 0px 10px 10px #fff; */
  background-color: #405180;
  color: white;
}
.card-header2:first-child {
  width: 50% !important;
  text-align: center;
}
.modal-container {
  background-color: #fff;
  border-radius: 5px;
  width: 800px;
  max-width: 80%;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-container h2 {
  margin-bottom: 10px;
  color: black;
}

.modal-container button {
  margin-top: 20px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  /* grid-gap: 16px; */
  width: 100%;
}

.grid-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.grid-item {
  flex: 1;
  width: 48%;
  color: black;
}
.grid-row button {
  margin-top: 0;
}
.grid-item label {
  background-color: white;
}
#demo-simple-selec {
  color: black;
}
input[type="date"] {
  /* border: 1px solid lightgray; */
  border-radius: 4px;
}
#entriesPerPage {
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}
#search {
  margin-left: 5px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px #004976 solid;
  display: block;
  font-size: 15px;
}
.table thead th {
  color: #ffffff;
  background-color: #004976;
  padding: 15px;
  border: 1px solid #25345f;
  font-weight: 500;
}
.table tr {
  border: 1px solid #e6edf1;
  padding: 10px;
}
td {
  padding: none;
  border: 1px solid #e6edf1;
}
.modelText {
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea {
  height: 80px;
  width: 100%;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  border-bottom: 1px solid blue;
  border: none;
}
.text-input textarea::placeholder {
  color: #b7b6b6;
}
.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  list-style: none;
  padding: 12px 15px;
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}
.controls .row select::-webkit-scrollbar {
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active {
  transform: scale(0.9);
}

@media (max-width: 660px) {
  .container {
    padding: 20px;
  }
  .wrapper .text-input {
    flex-direction: column;
  }
  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea {
    height: 200px;
  }
  .controls .row .icons {
    display: none;
  }
  .container button {
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select {
    font-size: 16px;
  }
  .controls .exchange {
    font-size: 14px;
  }
}

.input_repair {
  background-color: transparent;
  border: none;
  border-bottom: 1px #e2e2e2 solid;
}
.input_repair:focus {
  border: 1px #85cb33 solid !important;
}
/* Default styles for the table */
.table-responsive {
  height: 80vh;
}

.table {
  font-size: 0.9rem;
  color: white;
}

.table thead {
  background: beige;
}

.table th,
.table td {
  text-align: center;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 599px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table th,
  .table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .table tr {
    margin-bottom: 1em;
  }

  .table td:before {
    color: #000;
    content: attr(data-label);
    display: inline-block;
    font-size: 75%;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: top;
    width: 50%;
  }

  .table p {
    margin: -1em 0 0 50%;
  }
}

@media screen and (max-width: 349px) {
  .table td:before {
    display: block;
  }

  .table p {
    margin: 0;
  }
}
/* Default styles for the table */
.table-responsive {
  overflow-x: auto;
}

.table {
  font-size: 0.9rem;
  color: white;
}

.table th,
.table td {
  text-align: center;
}

.table thead {
  background: beige;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 567px) {
  .table tbody,
  .table thead,
  .table tr,
  .table th,
  .table td {
    display: block;
  }

  .table thead {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table tr {
    margin-bottom: 1em;
  }

  .table td {
    border: none;
    position: relative;
    box-sizing: border-box;
  }

  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 349px) {
  .table td {
    padding-left: 0;
  }

  .table td:before {
    display: block;
  }
}
.current-route {
  font-size: 1.2rem;
  color: #fff;
  font-variant: small-caps;
  cursor: pointer;
}
.laststatus {
  width: 80%;
  margin: auto;
  padding: 0.2rem;
  border-radius: 20px;
  font-weight: 600;
}
